<body onload="loadMapScenario()">
    <div id="Map" width="100vh" height="400"><pre>




               
      


        




      









    </pre></div>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Asukb0Toft4OMcYrqGPJ3IWTQlGdI4wJbn2cbc82PiArEtEATCFggevkIYvPaPVy'></script>
        <script type='text/javascript'>
                var map;
                function loadMapScenario() {
                    map = new Microsoft.Maps.Map(document.getElementById('Map'), {});
                    var pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), { text: 'DJ', title: 'DJ Thunderstruck HQ', subTitle: 'Mica Mountain High School', color: 'rgb(0, 125, 153)' });
                map.entities.push(pushpin);
                }
                
            
        </script>
</body>