@import url('https://fonts.googleapis.com/css?family=Saira Extra Condensed:700|Saira Extra Condensed:400');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html {
    font-family:'Montserrat',sans-serif;
    width: 100vw;
}
h1, h2, h3, h4, h5{
    font-family: 'Saira Extra Condensed', sans-serif;
}
.unclick{
    color:black;
    cursor: not-allowed;
    text-decoration: wavy;
}
.foot {

    display: flex;
    align-content: center;
    width: 100%;
    height: 70;
    text-align: center;
    background-color: rgb(0, 125, 153);
    color: white;
    margin: auto;
}
    .head{
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
}
    .head image{
        height:6ch;
        width:100%;
    }
    .head h2{
    margin-left: 3%;
}
    .phoneonly{
      display:none;
}
.deskonly{
    /*Only on desktop systems*/
    display:inline;
}
@media screen and (max-width: 800px) {
    .head{
        margin-left: 0%;
        margin-right: 0%;
        width:100%;
    }
}
@media screen and (max-width: 600px) {
    .head {
        background-image: url("hero.jpeg");
        text-align: center;
        color:white;
        display: block;
        margin-left: 0%;
        margin-right: 0%;
        width:100%;
        min-height: 200pt;
    }
    image{
        margin-left: auto;
        margin-left: auto;
        display:block;
        height:100%;
        width:100%;
    }
    .phoneonly{
        display: block;
    }
    .nav{
        font-size: x-small;
    }
    .deskonly{
        /*Only on desktop systems*/
        display:none;
    }
}
    nav{
    position: fixed;
    top: 0;
    left:0;
    display: grid;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-content: center;
    width: 100%;
    height: 70;
    background-color: rgb(0, 125, 153);
    color: white;
    
}
    .nav{
    color:white;
    text-decoration: none;
    margin: 0.25cm;
}

    hide {
    display: none;
}